.loading {
  border: var(--gap-sm) solid var(--color-tertiary);
  border-right-color: var(--color-quaternary);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
