* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #463220;
  --color-secondary: #66593c;
  --color-tertiary: #eceadd;
  --color-quaternary: #f7f8f5;
  --color-white: #ffffff;

  --gap-sm: 0.625rem;
  --gap: 1.25rem;
}
.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background: var(--color-white);
}
.flex {
  display: flex;
  gap: var(--gap);
}
.flex > * {
  flex: 1;
}
.mb {
  margin-bottom: var(--gap);
}
.bg-primary {
  background: var(--color-primary);
}
.bg-secondary {
  background: var(--color-secondary);
}
.bg-tertiary {
  background: var(--color-tertiary);
}
.bg-quaternary {
  background: var(--color-quaternary);
}
.bg-white {
  background: var(--color-white);
}

.container {
  display: grid;
  padding: 1.25rem;
  gap: var(--gap);
  grid-template-columns: 240px auto;
}
body {
  background-color: var(--color-quaternary);
  color: var(--color-secondary);
}
button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* sidnav */
.sideNav {
  background-color: var(--color-tertiary);
  border-radius: var(--gap);

  & ul {
    display: grid;
    margin-top: 1rem;
    gap: var(--gap-sm);
    font-size: 1rem;
    & li {
      display: flex;
      align-items: center;
      gap: var(--gap-sm);

      &:hover span{
        background-color: var(--color-tertiary);
      }

      & span{
        background-color: var(--color-quaternary);
        border-radius: 50%;
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & a{
        flex: 1;
        font-size: 1.125rem;
        text-decoration: none;
        color: var(--color-primary);
      }
    }
  }
}

/* daterange */
.daterange{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap);

  & h1{
    text-align: center;
    align-content: center;
    height: 100%;
  }
}

/* resumo */
.resumo {
  font-size: 1.5rem;
  font-weight: 600;

  & h2 {
    font-size: 1.5rem;
    margin-bottom: var(--gap);
    color: var(--color-primary);
  }
}

/* venda */
.venda {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap-sm);
  align-items: center;
  & div:last-child {
    justify-self: end;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}
